<a href="https://colab.research.google.com/github/RasikaDhadve/DataScienceAssignments/blob/main/Rasika_FSDS_bootcamp_assignment_004_Oct_09.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ASSIGNMENTS 
## Send it before 0000 hrs IST or 12 AM Wednesday

## NOTE: Evaluation will be done before next class.

## HOW TO SUBMIT: -
Download this notebook, Solve it and upload in the google form given in the mail.

## control flow and conditional statements

Q1. Find the largest number from the given list, use for loop.

```
numbers = [12, 75, 150, 180, 145, 525, 50]
```

In [ ]:
numbers = [12, 75, 150, 180, 145, 525, 50]
max = numbers[0]
for i in numbers:
  if i > max:
    max = i
print("Largest number: ",max)

Largest number:  525

Q2. Print all the even number between (1, 12).

In [ ]:
start = 1
end = 12
for num in range(start, end + 1):
  if num % 2 == 0:
    print(num, end=" ")

2 4 6 8 10 12

Q3. Calculate the sum of all numbers from 1 to a given number
    
    Expected Output:

    Enter number 10
    
    Sum is:  55

In [ ]:
n = input("Enter  Number ")
n = int (n)
sum = 0
for num in range(0, n+1, 1):
  sum = sum+num
print("Sum is: ", sum)

Enter  Number 10
Sum is:  55

Q4. Write a program to display only those numbers from a list that satisfy the following conditions

- The number must be divisible by five

- If the number is greater than 150, then skip it and move to the next number

- If the number is greater than 500, then stop the loop

In [ ]:
# Given:

numbers = [12, 75, 150, 180, 145, 525, 50]

In [ ]:
numbers = [12, 75, 150, 180, 145, 525, 50]
for i in numbers:
  if i > 500:
    break
  elif i > 150:
    continue
  elif i % 5 == 0:
    print(i)

75
150
145

Q5. Print the given list in reverse order.

```
list1 = [10, 20, 30, 40, 50]
```

In [ ]:
list1 = [10, 20, 30, 40, 50]
n = reversed(list1)
for i in n:
  print(i)

50
40
30
20
10